.legal {
    padding: 3rem;
    width: 100%;
    margin: auto;
    min-width: 310px;
    max-width: 1000px;
    box-sizing: border-box;

    @media only screen and (max-width: 600px) {
        padding: 3rem;
    }

    &-header {
        font-size: calc(30px + 1rem);
        text-transform: uppercase;
        color: $color-primary;
        margin-top: 2rem;

        &-sub {
            font-size: calc(16px + 0.5rem);
            color: $color-black;
        }

        @media only screen and (max-width: 600px) {
            font-size: 30px;
            &-sub {
                font-size: 16px;
            }
        }
    }

    &-paragraph {
        margin-top: 3rem;

        &-header {
            font-size: calc(20px + 0.2rem);
            color: $color-black;
            text-transform: uppercase;
            letter-spacing: 1px;

            @media only screen and (max-width: 600px) {
                font-size: 16px;
            }
        }

        &-sub-header {
            font-size: calc(16px + 0.2rem);
            color: $color-black;
            letter-spacing: 1px;
            font-weight: bold;
            margin-top: 1rem;

            @media only screen and (max-width: 600px) {
                font-size: 14px;
            }
        }

        &-link {
            font-size: 16px;
            color: $color-primary;
            margin-top: 1rem;
            letter-spacing: 1px;
            margin-top: 10px;
            @media only screen and (max-width: 600px) {
                font-size: 14px;
            }
        }

        &-content {
            font-size: 18px;
            color: $color-light-black;
            margin-top: 1rem;
            letter-spacing: 1px;
            @media only screen and (max-width: 600px) {
                font-size: 14px;
            }
        }

        &-list {
            margin-top: 1rem;
            li {
                font-size: 18px;
                color: $color-light-black;
                letter-spacing: 1px;
                margin-top: 1rem;
                @media only screen and (max-width: 600px) {
                    font-size: 14px;
                }
            }
        }
    }
}
